{% extends "admintest/base.html" %}
{% load staticfiles %}

{% block link %}
{#    ::<a href="/userprofile/myprofile">COMMENT</a>#}
    ::<a href="/userprofile/userinfo/{{ user.id }}/">EdiT ProfilE</a>
    ::<a href="/userprofile/workspace">WORKSPACE</a>
{% endblock %}


{% block main %}
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    </head>
    {#    <h6><a href="/accounts/logout">LOGOUT</a></h6>#}
    {#    <h6><a href="/userprofile/comment">Add comment</a></h6>#}


    {#    <body style= "background:url({% static 'rEcScorE/images/speed13.jpg'%} ) no-repeat center center fixed" ></body>#}
    <div class="row ">
        <div class="col s4 m8" style="width: 30%; margin-top: 15px">
            <div class=" card waves-effect waves-green White lightSpeedOut-1 " style="height: 1200px">
                <div class="card-content black-text ">

                    <h3 style="color: darkred"> Your Profile Picture will be displayed here</h3>
                    {#               <h3 style="text-align: center; color:blue">This page content will be available soon</h3>#}

                    <span class="card-title" style="text: bold"><h3
                            style="color: #262626">{{ user_profile.your_name }}</h3></span>

                    <h4 style="color: #080808">{{ user_profile.designation }}</h4>
                    <h5 style="color: #080808">{{ user_profile.highest_degree }}</h5>
                    <h5 style="color: #080808">Date of Joining: {{ user_profile.doj }}</h5>
                    ConsultADD<br><br>
{#--------------------------------------------------my form test-----------------------------------------#}
                    <input type="text" value={{ testdata.data }} >
                <input type="text" value={{ testdata.size }} >
                <input type="text" value={{ testdata.name }} >
                <input type="text" value={{ testdata.hOffset }} >
                <input type="text" value={{ testdata.vOffset }} >
                <input type="text" value={{ testdata.hOffset }} >
                <input type="text" value={{ testdata.alignment }} >

                    <input type="date" value={{ testdata.date }} >

{#                    {% for i in testdata %}#}
{##}
{##}
{#                                            <h5 style="textcolor: black;">{{ i }}</h5>#}
{##}
{#                                        {% endfor %}#}

{#                            ------------------------------------------------------end test----------------------------------    #}

                <p style="float:left">
                </div>
                {#            <div class="card-action">#}
                <p style="color: black ;">Click <a style="color: orangered; text-decoration: underline" href="/userprofile/userinfo/{{ user.id }}/">here</a> to edit your profile information</p>

            </div>
        </div>

        <ul class="collapsible " data-collapsible="accordion" style="margin-top:10px">
            <li style="width: 129%;">
                <div class=" row collapsible-header " style="color: darkred;height: 60px;width:52% "><h5>__Comment Here<i style="font-size:50px" class="large material-icons">comment</i>:</h5></div>
                <div class="collapsible-body ">
                    <div class="row">
                        <div class="col s12 m6" style="width:70%">
                            <div class="card white lightSpeedOut-1" style="min-height:300px;">
                                <div class="card-content black-text">
                                    <form action="/userprofile/myprofile/" method="post">{% csrf_token %}
                                        {% for field in form %}

                                            <h6>Write Here</h6>
                                            {{ field }}

                                        {% endfor %}

                                        <input style="margin-top: 10px; float:left;width: 127px;height:75px;" type="submit"name="submit" class="button button-block" value="Po$t">
                                    </form>
{#
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="collapsible" data-collapsible="accordion" style="margin-top:10px">
            <li style="width: 129%;">
                <div class=" row collapsible-header active" style="color: darkred;height: 50px;width:52% "><h3><i style="font-size:50px" class="large material-icons"> swap_vert </i></h3></div>
                <div class="collapsible-body ACTIVE">
                    <div class="row">
                        <div class="col s4 m8" style="margin-top: 01px;">
                            <div class="card waves-effect waves-teal white lightSpeedOut-1 card"
                                 style="overflow: scroll; height: 550px;width:912px">
                                <div class="card-content white-text">

{#                                    <div><h3 style="color: darkred; position: fixed"> </h3></div>#}
{#                                    <br><br><br>#}

                                    <h3 style="text-align: center; color:blue"></h3>

                                    {#                    <span class="card-title" style="text: bold; font-size: 50px" ><h3 style="color: #262626">{{ co }}</h3></span>#}


                                    {% for com in mycomment %}
                                        <h6 style="color:darkred">{{ com.user.first_name }}</h6>
                                        {#                    <div class="container">#}
                                        <div class="dialogbox">
                                            <div class="body">
                                                <span class="tip tip-up"></span>

                                                <div class="message">
                                                    {{ com.body }}<br>
                                                    {{ com.pub_date }}
                                                </div>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </li>
    </ul>

{#    <div class="col s4 m8" style="margin-top: 01px;">#}
{#        <div class="card waves-effect waves-teal white lightSpeedOut-1 card"#}
{#             style="overflow: scroll; height: 550px;width:912px">#}
{#            <div class="card-content white-text">#}
{##}
{#                <div><h3 style="color: darkred; position: fixed"> Comment History</h3></div>#}
{#                <br><br><br>#}
{##}
{#                <h3 style="text-align: center; color:blue"></h3>#}
{##}
                {#                    <span class="card-title" style="text: bold; font-size: 50px" ><h3 style="color: #262626">{{ co }}</h3></span>#}
{##}
{##}
{#                {% for com in mycomment %}#}
{#                    <h6 style="color:darkred">{{ com.user.first_name }}</h6>#}
                    {#                    <div class="container">#}
{#                    <div class="dialogbox">#}
{#                        <div class="body">#}
{#                            <span class="tip tip-up"></span>#}
{##}
{#                            <div class="message">#}
{#                                {{ com.body }}<br>#}
{#                                {{ com.pub_date }}#}
{#                            </div>#}
{#                            <div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{##}
{#            </div>#}
{#        </div>#}
    </div>
     <button class="btn waves-effect waves-light" onclick="snigdha()" type="submit" name="action">Submit<i class="material-icons right">send</i>
  </button>
<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Snigdha dash</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
     <footer class="page-footer" style="height: 100px;background-color: #0059bc">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

    <input type="button" value="form open" onclick="snigdha()">
     <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
             <div id="form_sample"></div>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>


    <script>
    function snigdha(){
var x = document.getElementById("form_sample");
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    var createform = document.createElement('form'); // Create New Element Form
createform.setAttribute("action", ""); // Setting Action Attribute on Form
createform.setAttribute("method", "post"); // Setting Method Attribute on Form
x.appendChild(createform);

var heading = document.createElement('h2'); // Heading of Form
heading.innerHTML = "Contact Form ";
createform.appendChild(heading);

var line = document.createElement('hr'); // Giving Horizontal Row After Heading
createform.appendChild(line);

var linebreak = document.createElement('br');
createform.appendChild(linebreak);

var namelabel = document.createElement('label'); // Create Label for Name Field
namelabel.innerHTML = "Your Name : "; // Set Field Labels
createform.appendChild(namelabel);

var inputelement = document.createElement('input'); // Create Input Field for Name
inputelement.setAttribute("type", "text");
inputelement.setAttribute("name", "dname");
createform.appendChild(inputelement);

var linebreak = document.createElement('br');
createform.appendChild(linebreak);

var emaillabel = document.createElement('label'); // Create Label for E-mail Field
emaillabel.innerHTML = "Your Email : ";
createform.appendChild(emaillabel);

var emailelement = document.createElement('input'); // Create Input Field for E-mail
emailelement.setAttribute("type", "text");
emailelement.setAttribute("name", "demail");
createform.appendChild(emailelement);

var emailbreak = document.createElement('br');
createform.appendChild(emailbreak);

var messagelabel = document.createElement('label'); // Append Textarea
messagelabel.innerHTML = "Your Message : ";
createform.appendChild(messagelabel);

var texareaelement = document.createElement('textarea');
texareaelement.setAttribute("name", "dmessage");
createform.appendChild(texareaelement);

var messagebreak = document.createElement('br');
createform.appendChild(messagebreak);

var submitelement = document.createElement('input'); // Append Submit Button
submitelement.setAttribute("type", "submit");
submitelement.setAttribute("name", "dsubmit");
submitelement.setAttribute("value", "Submit");
createform.appendChild(submitelement);
    }

    </script>
    {#    <div class="col s8 m8" style="margin-top: 15px">#}
    {#        <div class="card white lightSpeedOut-1" style="overflow: scroll; height: 550px;">#}
    {#            <div class="card-content white-text">#}
    {##}
    {#                <div><h3 style="color: darkred; position: fixed"> Comment History</h3></div>#}
    {#                <br><br><br>#}
    {#                <table>#}
    {#                    <tr style="color: darkblue">#}
    {#                        <th>Candidate Name</th>#}
    {##}
    {#                        <th>Job Title</th>#}
    {#                        <th>Highest Education</th>#}
    {#                    </tr>#}
    {#                    {% for item in query_results %}#}
    {#                        <tr style="color: #0059bc">#}
    {#                            <td>{{ item.your_name }}</td>#}
    {##}
    {#                            <td>{{ item.designation }}</td>#}
    {#                            <td>{{ item.highest_degree }}</td>#}
    {#                        </tr>#}
    {#                    {% endfor %}#}
    {#                </table>#}
    {#                <h3 style="text-align: center; color:blue"></h3>#}
    {#                {% with fields|slice:"1:" as cached_fields %}#}
    {##}
    {#                ythong#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {##}

<script>
{# $('.datepicker').pickadate({#}
{#    selectMonths: true, // Creates a dropdown to control month#}
{#    selectYears: 15 // Creates a dropdown of 15 years to control year#}
{#  });#}


</script>

{% endblock %}